## Homework 1 ML Zoomcamp

In [36]:
import pandas as pd

In [7]:
# to download dataset using requests library
import requests

url = 'https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv'
response = requests.get(url)

# Save the file to your local system
with open('laptop_data', 'wb') as file:
    file.write(response.content)

print("File downloaded successfully.")

File downloaded successfully.

## 1. Pandas latest version

In [37]:
pd.__version__

'1.5.3'

In [38]:
df=pd.read_csv('/Users/prashant.jaiswal/Documents/DataTalk Club ML Zoomcamp/laptop_data')

In [39]:
df.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

## 2. No. of columns in data

In [40]:
df.shape

(2160, 12)

## 3. Different brands

In [41]:
df['Brand'].nunique()

27

## 4. No. of columns having null values

In [42]:
df.isnull().sum()

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64

## 5. maximum final price

In [43]:
df.columns

Index(['Laptop', 'Status', 'Brand', 'Model', 'CPU', 'RAM', 'Storage',
       'Storage type', 'GPU', 'Screen', 'Touch', 'Final Price'],
      dtype='object')

In [44]:
df[df['Brand']=='Dell']['Final Price'].max()

3936.0

In [ ]:
## 6.

In [45]:
df['Screen'].mode()

0    15.6
Name: Screen, dtype: float64

In [46]:
df['Screen'].isnull().sum()

4

In [47]:
df['Screen'].fillna(df['Screen'].mode()[0], inplace=True)

In [48]:
df['Screen'].isnull().sum()

0

In [49]:
df['Screen'].mode()

0    15.6
Name: Screen, dtype: float64